<div class="wrapper">
  <app-user-nav></app-user-nav>
      <div class="commonBgDiv"><img src="assets/images/banner.jpg" alt="" /></div>
        <div class="banner-wrap">
           <div class="banner">
            <div class="banner-in" [ngClass]="{'disUnset': SignInFormFirst.value.account_type == 2}">
             <div class="container">
              <div class="row">
                 <div class="col-md-12">
                  <div class="wrap-box">
                   <!--==PERSONAL INFO START==-->
                   <div class="personal_i" *ngIf="SignInFormFirst.value.account_type == 1" >
                    <div class="boxs active">
                       <div class="boxs-in formDiv">
                        <h3 class="popHead">Sign Up Details</h3>
                        <div class="frm">
                         <form class="jform" [formGroup]="SignInFormFirst" (submit)="signUpFirstFormSubmit()">
                          <h5>Account Type</h5>
                          <div class="pers">
                             <button class="btn-def" type="button">Personal</button>
                             <button id="business_1" class="btn-def-blu" type="button" (click)="accountType(2)">Business</button>
                          </div>
                          <div class="field">
                              <label class="commonLabel">Email</label>
                             <input type="text" placeholder="Email" formControlName="email_id"/>
                             <div *ngIf="submitFirst && first.email_id.errors" class="invalid-feedback">
                                 <div *ngIf="first.email_id.errors.required" >Email is required</div>
                                 <div *ngIf="first.email_id.errors.email">Email must be a valid email address</div>
                             </div>
                          </div>
                          <div class="field">
                              <label class="commonLabel">Confirm Password</label>
                             <input type="password" placeholder="Confirm Password" formControlName="password" />
                             <div *ngIf="submitFirst && first.password.errors" class="invalid-feedback">
                                 <div *ngIf="first.password.errors.required">Password is required</div>
                             </div>
                          </div>
                          <div class="btnl">
                             <input type="hidden" formControlName="account_type" >
                             <button class="btn-def flr btnsld" type="submit" value="Find Part" data-tab="NextStep">Sign Up!</button>									
                          </div>
                          <div class="sghere">
                             <a  class="stxt" routerLink="/signup-supplier" [ngClass]="{'disableda': secondForm}">Supplier? Sign Up here.</a>
                          </div>
                         </form>
                        </div>
                       </div>
                    </div>
                    <div class="boxs box-2 active" [ngClass]="{ 'active': secondForm }">
                       <div class="boxs-in ">
                        <div class="frm">
                         <form class="jform" [formGroup]="SignInFormSecond" (submit)="signUpSecondFormSubmit()">
                          <div class="field">
                             <input type="text" placeholder="Username" formControlName="user_name"/>
                             <div *ngIf="submitSecond && second.user_name.errors" class="invalid-feedback">
                                 <div *ngIf="second.user_name.errors.required">Username is required</div>
                             </div>
                             <!-- <fieldset class="active">Username</fieldset> -->
                          </div>
                          <div class="field">
                             <input type="text" formControlName="first_name"  placeholder="Firstname"/>
                             <div *ngIf="submitSecond && second.first_name.errors" class="invalid-feedback">
                                 <div *ngIf="second.first_name.errors.required">Firstname is required</div>
                             </div>
                             <!-- <fieldset>Firstname</fieldset> -->
                          </div>
                          <div class="field">
                             <input type="text" formControlName="last_name"  placeholder="Lastname"/>
                             <div *ngIf="submitSecond && second.last_name.errors" class="invalid-feedback">
                                 <div *ngIf="second.last_name.errors.required">Lastname is required</div>
                             </div>
                             <!-- <fieldset>Lastname</fieldset> -->
                          </div>
                          <div class="field">
                             <input type="text" formControlName="business_address" placeholder="Address"  />
                             <div *ngIf="submitSecond && second.business_address.errors" class="invalid-feedback">
                                 <div *ngIf="second.business_address.errors.required">Address is required</div>
                             </div>
                             <!-- <fieldset>Address</fieldset> -->
                          </div>
                          <div class="field">
                             <input type="text"  formControlName="personal_contact" placeholder="Mobile Number (XX-XXXX-XXXX)"/>
                             <div *ngIf="submitSecond && second.personal_contact.errors" class="invalid-feedback">
                                 <div *ngIf="second.personal_contact.errors.required">Mobile Number is required</div>
                                 <div *ngIf="second.personal_contact.errors.pattern">Mobile Number should be in digit & format</div>
                             </div>
                             <!-- <fieldset class="active">Mobile Number</fieldset> -->
                          </div>
                          <div class="sub">
                             <button class="btn-no" type="button" (click)="submitSecond = false; SignInFormSecond.reset()" [disabled]="thirdForm">Reset All</button>
                             <button class="btn-def flr btnsld" type="submit" value="Next Step" >Next Step</button>									
                          </div>
                         </form>
                        </div>
                       </div>
                    </div>
                    <div class="boxs box-3" id="Done" [ngClass]="{ 'active': thirdForm }">
                       <div class="boxs-in">
                        <div class="frm">
                         <form class="jform" >
                          <h4 class="blueTextHead">Upload Profile Picture</h4>
                          <h4 class="text-center invalid-feedback" *ngIf="fileError" >Profile Image required</h4>
                          <div class="field">
                             <label class="upload_picture"><input type="file" (change)="fileUpload($event)" /><img [src]="imagesUrl" *ngIf="imagesUrl != undefined"></label>
                          </div>
                          <div class="sub">
                             <button class="btn-no" type="reset" (click)="images ='';imagesUrl=undefined" [disabled]="customerSucess == 1">Reset All</button>
                             <button class="btn-def flr btnsld" type="submit" value="Done" (click)="signup()" >Done</button>									
                          </div>
                         </form>
                        </div>
                       </div>
                    </div>
                    <div class="boxs box-4" id="Close" [ngClass]="{ 'active': customerSucess == true}">
                       <div class="boxs-in">
                        <h4>SUCCESS</h4>
                        <div class="frm">
                         <form class="jform" action="javascript:;">
                          <img src="assets/images/right.png" class="rigt" alt="" />
                          <p class="sps">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                          <div class="field">
                             <fieldset class="text-center personal_p">Your Personal User Member No. is  <span>{{memberId}}</span></fieldset>
                          </div>
                          <div class="sub">
                             <button class="btn-def" type="button"  routerLink="/login">Close</button>									
                             <button class="btn-def flr btnsld" type="button" routerLink="/personal-customer-dash">Add Vehicle</button>
                          </div>
                         </form>
                        </div>
                       </div>
                    </div>
                   </div>
                   <!--==PERSONAL INFO END==-->
                   <!--==BUSINESS INFO START==-->
                   <div class=" container" *ngIf="SignInFormFirst.value.account_type == 2">
                     <div class="supplierDiv memeberAccountmain supplierDivSignup container ">
                       <div class="supplierDivInner ">
                         <div class="custumPop  profileDetailsBG ">
                           <div class="custumPopHead noBord ProfileDetailsHead">
                             <h4 class="popHead">SignUp - <span>As Business Customer</span></h4>
                           </div>
                           <form [formGroup]="businessForm" (submit)="singUpBusines()">
                             <div class="custumPopBody ProfileDetailsBody">
                               <div class="popSupplierText padd0">
                                 <div class="width75N memAccRight">
                                   <div class="memRightBtnGroup signUpSupp">
                                     <div class="width80">
                                       <div class="formgroup">
                                         <label>Business Name</label>
                                         <input type="text" class="commonInput" formControlName="business_name">
                                         <div *ngIf="businesFormSubmit && businessForms.business_name.errors" class="invalid-feedback">
                                          <div *ngIf="businessForms.business_name.errors.required">Business Name is required</div>
                                         </div>
                                       </div>
                                       <div class="formgroup">
                                         <label>Contact Person</label>
                                         <input type="text" class="commonInput" formControlName="contact_person" >
                                         <div *ngIf="businesFormSubmit && businessForms.contact_person.errors" class="invalid-feedback">
                                          <div *ngIf="businessForms.contact_person.errors.required">Contact Person is required</div>
                                         </div>
                                       </div>
                                     </div>
                                     <div class="clearfix"></div>
                                     <div class="width80">
                                       <div class="formgroup">
                                         <div class="formgroup ">
                                           <label>Business Contact</label>
                                           <input type="text" class="commonInput" formControlName="personal_contact" placeholder="XX-XXXX-XXXX">
                                           <div *ngIf="businesFormSubmit && businessForms.personal_contact.errors" class="invalid-feedback">
                                            <div *ngIf="businessForms.personal_contact.errors.required">Business Contact is required</div>
                                            <div *ngIf="businessForms.personal_contact.errors.pattern">Business Contact should be in digit & format</div>
                                           </div>
                                         </div>
                                       </div>
                                     </div>
                                     <div class="width80">
                                      <div class="formgroup ">
                                        <div class="formgroup ">
                                          <label>Email</label>
                                          <input type="text" class="commonInput" formControlName="email_id">
                                          <div *ngIf="businesFormSubmit && businessForms.email_id.errors" class="invalid-feedback">
                                            <div *ngIf="businessForms.email_id.errors.required">Email is required</div>
                                           </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="width80">
                                      <div class="formgroup ">
                                        <div class="formgroup ">
                                          <label>Password</label>
                                          <input type="password" class="commonInput" formControlName="password">
                                          <div *ngIf="businesFormSubmit && businessForms.password.errors" class="invalid-feedback">
                                            <div *ngIf="businessForms.password.errors.required">Password is required</div>
                                           </div>
                                        </div>
                                      </div>
                                    </div>
                                     <div class="width80">
                                       <div class="formgroup">
                                         <label>Business Address</label>
                                         <input type="text" class="commonInput" formControlName="business_address">
                                         <div *ngIf="businesFormSubmit && businessForms.business_address.errors" class="invalid-feedback">
                                          <div *ngIf="businessForms.business_address.errors.required">Business Address is required</div>
                                         </div> 
                                       </div>
                                     </div>
                                     <div class="width80">
                                      <div class="formgroup">
                                        <label>Business Contact Number</label>
                                        <input type="text" class="commonInput" formControlName="business_contact" placeholder="XX-XXXX-XXXX">
                                        <div *ngIf="businesFormSubmit && businessForms.business_contact.errors" class="invalid-feedback">
                                          <div *ngIf="businessForms.business_contact.errors.required">Business Contact Number is required</div>
                                          <div *ngIf="businessForms.business_contact.errors.pattern">Business Contact should be in digit & format</div>
                                         </div> 
                                      </div>
                                    </div>
                                   </div>
                                 </div>
                                 <div class="width40N memAccLeft">
                                   <div class="AccountStatDiv signUpSupp">
                                     <div class="AccountStatDivInner AccountStatDivInnerHt">
                                       <div class="memStateHeadSignUpRIght">
                                        <div class="formgroup">
                                          <label>Business ABN</label>
                                          <input type="text" class="commonInput" formControlName="business_abn">
                                          <div *ngIf="businesFormSubmit && businessForms.business_abn.errors" class="invalid-feedback">
                                            <div *ngIf="businessForms.business_abn.errors.required">Business ABN is required</div>
                                           </div>
                                        </div>
                                        <div class="formgroup">
                                          <label>Business Type</label>
                                          <select class="commonInput" formControlName="business_type">
                                            <option value=''>Select Business Type</option>
                                            <option  *ngFor="let business of businessTypes" value="{{business.business_type_id}}"> {{business.business_type_name}}</option>
                                          </select>
                                          <div *ngIf="businesFormSubmit && businessForms.business_type.errors" class="invalid-feedback">
                                            <div *ngIf="businessForms.business_type.errors.required">Business Type is required</div>
                                           </div>
                                        </div>
                                         <div class="formgroup DisF marB10">
                                           <div class="field uploadDivMAin">
                                            <label class="upload_picture"><input type="file" (change)="fileUpload($event)" formControlName="profile_logo" /><img src="{{ imagesUrl != undefined ?imagesUrl : 'assets/images/add-button.png'}}" class="uploadImg"></label>
                                         </div>
                                         <div *ngIf="businesFormSubmit && businessForms.profile_logo.errors" class="invalid-feedback">
                                          <div *ngIf="businessForms.profile_logo.errors.required">Profile Picture is required</div>
                                         </div>
                                          <!--  <input type="file" (change)="bannerFileChangeEvent($event)" /> -->

                                        <!--  <image-cropper
                                         [imageChangedEvent]="bannerImageChangedEvent"
                                         [maintainAspectRatio]="true"
                                         [aspectRatio]="4 / 3"
                                         [cropperMinWidth]="150" 
                                         [cropperMinHeight]="200"                    
                                         format="png"
                                         [imageQuality]="100"
                                         (imageCropped)="bannerImageCropped($event)" 
                                         ></image-cropper>  -->
                                         <!-- <img [src]="bannerCroppedImage" /> -->
                                         </div>
                                         <div class="formgroup signupTextN">
                                           <input type="checkbox" class="checkIcon" formControlName="termsCond">
                                           <p>I acknowledge that I have read all the <a>terms and conditions</a> set out for the use of
                                             this website and Im bound by those conditions.</p>
                                           <div *ngIf="businesFormSubmit && businessForms.termsCond.errors" class="invalid-feedback">
                                             <div *ngIf="businessForms.termsCond.errors.required">Terms & Condition is required</div>
                                           </div>
                                         </div>
                                         <div class="text-center marT30">
                                           <button class="btn commonBlueBtn" type="submit">Register</button>
                                         </div>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                               </div>
                             </div>
                           </form>
                         </div>
                       </div>
                     </div>
                   </div>
                   <!-- <div class="business_i" *ngIf="SignInFormFirst.value.account_type == 2">
                    <div class="boxs active">
                       <div class="boxs-in formDiv">
                        <h3 class="popHead">Sign Up Details</h3>
                        <div class="frm">
                         <form class="jform" [formGroup]="SignInFormFirst" (submit)="signUpFirstFormSubmit()">
                          <h5>Account Type</h5>
                          <div class="pers">
                             <button id="personal_1" class="btn-def-blu" type="button" value="Personal" (click)="accountType(1)">Personal</button>
                             <button class="btn-def" type="button" value="Business">Business</button>
                          </div>
                          <div class="field">
                              <label class="commonLabel">Email</label>
                             <input type="text" formControlName="email_id" placeholder="Email"  />
                             <div *ngIf="submitFirst && first.email_id.errors" class="invalid-feedback">
                              <div *ngIf="first.email_id.errors.required">Email is required</div>
                              <div *ngIf="first.email_id.errors.email">Email must be a valid email address</div>
                          </div>
                          </div>
                          <div class="field">
                              <label class="commonLabel">Confirm Password</label>
                             <input type="password" placeholder="Confirm Password" formControlName="password" />
                             <div *ngIf="submitFirst && first.password.errors" class="invalid-feedback">
                              <div *ngIf="first.password.errors.required">Password is required</div>
                             </div>
                          </div>
                          <div class="btnl">
                              <input type="hidden" formControlName="account_type" >
                             <button class="btn-def flr btnsld" type="submit" value="Find Part" >Sign Up!</button>									
                          </div>
                          <div class="sghere">
                             <a routerLink="/signup-supplier" [ngClass]="{'disableda': secondFormBussiness}" class="stxt">Supplier? Sign Up here.</a>
                          </div>
                         </form>
                        </div>
                       </div>
                    </div>
                    <div class="boxs box-2" id="NextStep1" [ngClass]="{ 'active': secondFormBussiness }">
                       <div class="boxs-in">
                        <div class="frm">
                         <form class="jform" [formGroup]="signUpFormSecondBussiness" (submit)="signUpFirstFormBusinesSubmit()">
                          <div class="field">
                             <input type="text"  placeholder="Business name" formControlName="business_name"/>
                             <div *ngIf="firstFormBusines && bFirst.business_name.errors" class="invalid-feedback">
                              <div *ngIf="bFirst.business_name.errors.required">Business Name is required</div>
                             </div>
                          </div>
                          <div class="field">
                             <input type="text" placeholder="Contact Person" formControlName="contact_person"  />
                             <div *ngIf="firstFormBusines && bFirst.contact_person.errors" class="invalid-feedback">
                              <div *ngIf="bFirst.contact_person.errors.required">Contact Person is required</div>
                             </div>
                          </div>
                          <div class="field">
                             <input type="text" placeholder="Personal Contact" formControlName="personal_contact"  />
                             <div *ngIf="firstFormBusines && bFirst.personal_contact.errors" class="invalid-feedback">
                              <div *ngIf="bFirst.personal_contact.errors.required">Personal Contact is required</div>
                             </div>
                          </div>
                          <div class="field">
                             <input type="text" placeholder="Business Address" formControlName="business_address"  />
                             <div *ngIf="firstFormBusines && bFirst.business_address.errors" class="invalid-feedback">
                              <div *ngIf="bFirst.business_address.errors.required">Business Address is required</div>
                             </div>
                          </div>
                          <div class="field">
                             <input type="text" placeholder="Business Contact Number" formControlName="business_contact"  />
                             <div *ngIf="firstFormBusines && bFirst.business_contact.errors" class="invalid-feedback">
                              <div *ngIf="bFirst.business_contact.errors.required">Business Contact Number</div>
                             </div>
                          </div>
                          <div class="sub">
                             <button class="btn-no" type="button" (click)="firstFormBusines = false; signUpFormSecondBussiness.reset()" [disabled]="thirdFormBussiness">Reset All</button>
                             <button class="btn-def flr btnsld" type="submit" value="Next Step" >Next Step</button>									
                          </div>
                         </form>
                        </div>
                       </div>
                    </div>
                    <div class="boxs box-3" id="Done1" [ngClass]="{ 'active': thirdFormBussiness }">
                       <div class="boxs-in">
                        <div class="frm">
                         <form class="jform" [formGroup]="signUpFormThirdBussiness" (submit)="singUpBusines()">
                          <div class="field">
                             <input type="text"  placeholder="Business ABN" formControlName="business_abn" />
                             <div *ngIf="secondFormBusines && bSecond.business_abn.errors" class="invalid-feedback">
                                <div *ngIf="bSecond.business_abn.errors.required">Business Contact is required</div>
                               </div>
                          </div>
                          <div class="field">
                             <select  placeholder="Business Type" formControlName="business_type">
                              <option value="" [selected]=true>--Select Type--</option>
                              <option [value]="type.business_type_id" *ngFor="let type of businessType">{{type.business_type_name}}</option>
                             </select>
                             <div *ngIf="secondFormBusines && bSecond.business_type.errors" class="invalid-feedback">
                                <div *ngIf="bSecond.business_type.errors.required">Business Type is required</div>
                              </div>
                          </div>
                          <div class="field">
                             <h4 class="blueTextHead">Upload Profile Picture</h4>
                             <label class="upload_picture busi_n"><input type="file" formControlName="profile_logo" (change)="fileUpload($event)"/> <img [src]="imagesUrl" *ngIf="imagesUrl != undefined"></label>
                             <div *ngIf="secondFormBusines && bSecond.profile_logo.errors" class="invalid-feedback">
                                <div *ngIf="bSecond.profile_logo.errors.required">Profile Picture is required</div>
                              </div>
                          </div>
                          <div class="sub">
                             <button class="btn-no" type="button"  (click)="secondFormBusines = false;imagesUrl=undefined; signUpFormThirdBussiness.reset()" [disabled]="customerSucess == 2">Reset All</button>
                             <button class="btn-def flr btnsld" type="submit" value="Done">Done</button>									
                          </div>
                         </form>
                        </div>
                       </div>
                    </div>
                    <div class="boxs box-4" id="Close1" [ngClass]="{ 'active': customerSucess == 2 }">
                       <div class="boxs-in">
                        <h4>SUCCESS</h4>
                        <div class="frm">
                         <form class="jform" action="javascript:;">
                          <img src="assets/images/right.png" class="rigt" alt="" />
                          <p class="sps">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                          <div class="field">
                             <fieldset class="text-center personal_p">Your Business User Member No. is <span>{{memberId}}</span></fieldset>
                          </div>
                          <div class="sub">
                             <button class="btn-def" onclick="location.href = 'member-neworders.php';" type="button">New Workorder</button>
                             <button class="btn-def flr btnsld" type="button" value="Close"  routerLink="/login">Close</button>									
                          </div>
                         </form>
                        </div>
                       </div>
                    </div>
                   </div> -->
                   <!--==BUSINESS INFO END==-->
                  </div>
                 </div>
              </div>
             </div>
            </div>
           </div>
        </div>
  
      <footer>
        
      </footer>
    </div>

