<div class="notificationsDiv">
  <button class="btn commonBtnBlue btn-block text-left"><img src="images/message.png" class="commonNotiIcon">2 Unread Messages</button>
  <p class="redRound">David Wilson - Recal on a part</p>
  <p class="redRound">David Wilson - Recal on a part</p>
  <button class="btn commonBtnBlue btn-block text-left"><img src="images/unpaidInvoice.png" class="commonNotiIcon">2 Overdue Unpaid Invoice</button>
  <p class="greenRound">David Wilson - Recal on a part</p>
  <p class="greenRound">David Wilson - Recal on a part</p>
  <button class="btn commonBtnBlue btn-block text-left"><img src="images/feedback.png" class="commonNotiIcon">2 Unread Feedback</button>
  <p class="greenRound">David Wilson - Recal on a part</p>
  <p class="greenRound">David Wilson - Recal on a part</p>
</div>