   <!-- Personal Customer SideBar:start -->
    <div class="myProfileSideBar">
			<div class="myProfileSideBarInner">
				<!-- <div class="sideHead">
					<h4>My Profile</h4>
				</div> -->
				<div class="form-group closeBtnDiv sideHead">
					<h4 class="popHead" >My Profile </h4>
					<span class="closeBtn curPoi"><img src="assets/images/cancel.png" alt="" (click)="CustomerDashComponent.hideShowSlider(false)"></span>
				  </div>
				<div class="sideText">
					<div class="Details">
						<img src="assets/images/profile1.png" class="userIcon">
						<div class="sideBoxText">
							<h4>{{userDetails?.first_name |uppercase}} {{userDetails?.last_name |uppercase}}</h4>
							<p>Account type :Personal Customer</p>
							<p>Location : {{userDetails?.state_name}}</p>
							<p>change Password</p>
						  </div>
						  <a routerLink="/customer-edit">Edit</a>
						  <!-- <a (click)="logout()" routerLink="/login">Logout</a> -->
					</div>
					<div class="commonSectionSide">
						<div class="sideSubhead">
							<h5>My Vehicle Profile</h5>
							<p>+ Add New</p>
						</div>
						<div class="ImageBOx">
							<img src="assets/images/car1.png" class="">
							<div class="disFSpace">
								<div class="disFSpaceText">
									<h5>Toyota Camry 2007</h5>
									<p>Auto  /  Petrol  /  2WD</p>
								</div>
								<div class="imagesDiv">
									<img src="assets/images/editicon1.png" class="">
									<img src="assets/images/deleteIcon.png" class="">
								</div>
							</div>
						</div>
						<div class="sideSubhead">
							<h5>My Searches</h5>
						</div>
						<div class="Details">
							<img src="assets/images/car.png" class="">
							<div class="setailText">
								<h4>Honda Civic 2015</h4>
								<h5>2D / Auto / 2WD / 4 Cylinder</h5>
								<h5>Results: <span class="roundCount">2</span></h5>
							</div>
						</div>
						<div class="Details">
							<img src="assets/images/car.png" class="">
							<div class="setailText">
								<h4>Honda Civic 2015</h4>
								<h5>2D / Auto / 2WD / 4 Cylinder</h5>
								<h5>Results: <span class="roundCount">2</span></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- Personal Customer SideBar:End -->


