<!-- Profile Settings tab content-->
<div class="profilesettingSection">
  <form [formGroup]="profileForm">
    <div class="profileLeftSec">
      <div class="text-center">
        <h4 class="blueHead">Admin Profile</h4>
        <div class="logoDiv" *ngIf="adminProfileLogoURL">
          <img [src]="adminProfileLogoURL" class="tabLogo">
        </div>
        <div class="uploadDivBtn width150 marX20">
          <button class="btn changeLogoBnt">change logo</button>
          <input type="file" (change)="profileImagePreview($event)">
        </div>
      </div>
    </div>
    <div class="profilerightSec">
      <div class="width50">
        <div class="formgroup">
          <label>Bussiness Name</label>
          <input type="text" class="commonInput" formControlName="business_name">
          <div *ngIf="isProfileSubmitted">
            <label class="error" *ngIf="profileF.business_name.errors?.required">Business name is required</label>
          </div>
        </div>
        <div class="formgroup">
          <label>Company Name</label>
          <input type="text" class="commonInput" formControlName="company_name">
          <div *ngIf="isProfileSubmitted">
            <label class="error" *ngIf="profileF.company_name.errors?.required">Company name is required</label>
          </div>
        </div>
        <div class="formgroup">
          <label>Address</label>
          <input type="text" class="commonInput" formControlName="address">
          <div *ngIf="isProfileSubmitted">
            <label class="error" *ngIf="profileF.address.errors?.required">Address is required</label>
          </div>
        </div>
        <div class="formgroup">
          <div class="formgroup formgroup1">
            <label>Suburb</label>
            <input type="text" class="commonInput" formControlName="suburbs">
            <div *ngIf="isProfileSubmitted">
              <label class="error" *ngIf="profileF.suburbs.errors?.required">Suburbs is required</label>
            </div>
          </div>
          <div class="formgroup formgroup2">
            <label>Post Code</label>
            <input type="text" class="commonInput" formControlName="postcode">
            <div *ngIf="isProfileSubmitted">
              <label class="error" *ngIf="profileF.postcode.errors?.required">Postcode is required</label>
            </div>
          </div>
        </div>
        <div class="formgroup">
          <div class="formgroup formgroup1">
            <label>ABN</label>
            <input type="text" class="commonInput" formControlName="abn">
            <div *ngIf="isProfileSubmitted">
              <label class="error" *ngIf="profileF.abn.errors?.required">ABN is required</label>
            </div>
          </div>
        </div>
        <div class="formgroup DisF">
          <div class="formgroup formgroup3">
            <label>Phone Number:</label>
            <input type="text" class="commonInput" formControlName="phone_number" placeholder="XX-XXXX-XXXX">
            <div *ngIf="isProfileSubmitted">
              <label class="error" *ngIf="profileF.phone_number.errors?.required">Phone number is required</label>
              <label class="error" *ngIf="profileF.phone_number.errors?.pattern">Phone number should be in digit</label>
            </div>
          </div>
          <div class="formgroup formgroup3">
            <label>Mobile Number:</label>
            <input type="text" class="commonInput" formControlName="mobile_number" placeholder="XXXX-XXX-XXX">
            <div *ngIf="isProfileSubmitted">
              <label class="error" *ngIf="profileF.mobile_number.errors?.required">Mobile number is required</label>
              <label class="error" *ngIf="profileF.mobile_number.errors?.pattern">Mobile number should be in digit</label>
            </div>
          </div>
        </div>
        <div class="formgroup">
          <label>Support Email</label>
          <input type="text" class="commonInput" formControlName="support_email">
          <div *ngIf="isProfileSubmitted">
            <label class="error" *ngIf="profileF.support_email.errors?.required">Support email ID is required</label>
            <label class="error" *ngIf="profileF.support_email.errors?.email">Enter the valid email ID</label>
          </div>
        </div>
        <div class="formgroup">
          <label>Sales Email</label>
          <input type="text" class="commonInput" formControlName="sales_email">
          <div *ngIf="isProfileSubmitted">
            <label class="error" *ngIf="profileF.sales_email.errors?.required">Sales email ID is required</label>
            <label class="error" *ngIf="profileF.sales_email.errors?.email">Enter the valid email ID</label>
          </div>
        </div>
      </div>
      <div class="width50">
        <div class="formgroup">
          <label>First Name</label>
          <input type="text" class="commonInput" formControlName="first_name">
          <div *ngIf="isProfileSubmitted">
            <label class="error" *ngIf="profileF.first_name.errors?.required">First name is required</label>
          </div>
        </div>
        <div class="formgroup">
          <label>Last Name</label>
          <input type="text" class="commonInput" formControlName="last_name">
          <div *ngIf="isProfileSubmitted">
            <label class="error" *ngIf="profileF.last_name.errors?.required">Last name is required</label>
          </div>
        </div>
        <div class="formgroup">
          <div class="formgroup">
            <label>State:</label>
            <select formControlName="state" class="commonInput">
              <option value="">Select State</option>
              <option *ngFor="let state of allStates" value="{{state.state_id}}">{{state.state_name}}</option>
            </select>
            <div *ngIf="isProfileSubmitted">
              <label class="error" *ngIf="profileF.state.errors?.required">State is required</label>
            </div>
          </div>
        </div>
        <div class="formgroup">
          <label>Admin Email</label>
          <input type="text" class="commonInput" formControlName="email_id">
          <div *ngIf="isProfileSubmitted">
            <label class="error" *ngIf="profileF.email_id.errors?.required">Email ID is required</label>
            <label class="error" *ngIf="profileF.email_id.errors?.email">Enter the valid email ID</label>
          </div>
        </div>
        <div class="formgroup text-center marT10">
          <button type="button" class="btn commonWhiteBtn min150">Reset Password</button>
        </div>
      </div>
      <div class="clearfixed"></div>
    </div>
    <div class="clearfix "></div>
    <div class="text-center marT30">
      <button type="button" class="btn commonWhiteBtn" (click)="updateProfileSetting()">Save</button>
      <button type="button" class="btn commonBlueBtn lightBlueBtn">Close</button>
    </div>
  </form>
</div>