<div class="commonBGdiv">
  <img src="assets/images/bg.png" class="bgImageCommon">
</div>
<app-admin-nav></app-admin-nav>
<div class="commonMainDiv">
  <div class="supplierDiv">
    <div class="supplierDivInner">
    <div class="container">

      <div class="custumPop max850">
        <div class="custumPopHead noBord">
          <h4 class="popHead">Maintance!</h4>
        </div>
        <div class="custumPopBody">
          <div class="MaintancePop">
            <div class="maintaincemainBtns">
              <a routerLink="/admin-maintenance/vehicle_db" class="btn commonWhiteBtn">Edit Vehicle Database</a>
              <a routerLink="/admin-maintenance/part_category" class="btn commonWhiteBtn">Parts Name & Category</a>
              <button class="btn commonWhiteBtn">Add New Image to Slide</button>
              <button class="btn commonWhiteBtn"> Push Notification</button>
              <button class="btn commonWhiteBtn">API Managments</button>
              <button class="btn commonWhiteBtn">Default Logo/Profile Img</button>
              <button class="btn commonWhiteBtn">Capricon Members</button>
              <button class="btn commonWhiteBtn">Reports & Feedbacks</button>
            </div>
            <div class="SlideDivMain">
              <h4> Website Background Image </h4>
              <div class="SlideDivMainInner">
                <div class="SlideDivMainInnerN">
                  <div class="singleSlideDiv">
                    <div class="disF">
                      <button class="btn commonWhiteBtn">Replace Slide 1</button>
                      <button class="btn commonWhiteBtn redBtn">Delete</button>
                    </div>
                    <img src="/assets/images/bg.png" class="slideImg">
                    <p><a>Add Hyperlink on Image</a></p>
                    <a><span>Link 1:</span> http://Sparezone.com.au </a>
                    <a><span>Link 1:</span> http://Sparezone.com.au </a>
                  </div>
                  <div class="singleSlideDiv">
                    <div class="disF">
                      <button class="btn commonWhiteBtn">Replace Slide 1</button>
                      <button class="btn commonWhiteBtn redBtn">Delete</button>
                    </div>
                    <img src="/assets/images/bg.png" class="slideImg">
                    <p><a>Add Hyperlink on Image</a></p>
                    <a><span>Link 1:</span> http://Sparezone.com.au </a>
                    <a><span>Link 1:</span> http://Sparezone.com.au </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>