<!-- fix bg -->
<app-background-image></app-background-image>
<!-- fix bg -->
<!-- main Page -->
<div class="commonMainDiv">
    <!-- menu strat -->
    <app-admin-nav></app-admin-nav>
    <!-- menu end -->
    <!-- admin page start -->
    <div class="AdminPageMain">
        <div class="AdminPageMainInner">
            <div class="AdminPagehead">
                <div class="lefthead">
                    <h4>Activity By</h4>
                    <select class="commonInput">
                        <option> State</option>
                        <option> State</option>
                        <option> State</option>
                    </select>
                </div>
                <div class="righthead">
                    <h4 class="text-right">Todays total: 	<strong>$1.50</strong> </h4>
                    <h4 class="text-right disFNRange"><img src="assets/images/network.png" class="netIcon"> Live </h4>
                </div>
            </div>
            <div class="columnDivMain">
            <!-- single div -->
                <div class="columnDivSingle">	
                    <div class="disF bordB">
                        <h4>Quote Request</h4>
                        <p>2440</p>
                    </div>					
                    <div class="disF">
                        <h4>Sort by</h4>
                        <select class="commonInput">
                            <option> Latest</option>
                            <option> State</option>
                            <option> State</option>
                        </select>
                    </div>
                    <div class="requestDiv">
                        <div class="bordB">
                            <h5 class="greenText">Request</h5>
                            <div class="disF">
                                <p>Plaza Crash Repairs	</p>
                                <p>Parts 3</p>
                            </div>	
                            <div class="disF">
                                <p>Toyota, Camry, 2010</p>
                                <a> Viwe Details</a>
                            </div>	
                        </div>
                        <div class="bordB">
                            <h5 class="greenText">Request</h5>
                            <div class="disF">
                                <p>Plaza Crash Repairs	</p>
                                <p>Parts 3</p>
                            </div>	
                            <div class="disF">
                                <p>Toyota, Camry, 2010</p>
                                <a> Viwe Details</a>
                            </div>	
                        </div>
                        <div class="bordB">
                            <h5 class="greenText">Request</h5>
                            <div class="disF">
                                <p>CMI TOYOTA</p>
                                <p>Parts 3</p>
                            </div>	
                            <div class="disF">
                                <p>CMI TOYOTA</p>
                                <a> Viwe Details</a>
                            </div>	
                        </div>
                    </div>
                </div>
                <!-- single div end -->
                <!-- single div -->
                <div class="columnDivSingle">	
                    <div class="disF bordB">
                        <h4>Quote Request</h4>
                        <p>2440</p>
                    </div>					
                    <div class="disF">
                        <h4>Sort by</h4>
                        <select class="commonInput">
                            <option> Latest</option>
                            <option> State</option>
                            <option> State</option>
                        </select>
                    </div>
                    <div class="requestDiv">
                        <div class="bordB">
                            <h5 class="orangeText greenText">Replied</h5>
                            <div class="disF">
                                <p>Plaza Crash Repairs	</p>
                                <p>Repilies</p>
                            </div>	
                            <div class="disF">
                                <p>Toyota, Camry, 2010</p>
                                <a> Viwe Details</a>
                            </div>	
                        </div>
                        <div class="bordB">
                            <h5 class="greenText orangeText">Replied</h5>
                            <div class="disF">
                                <p>Plaza Crash Repairs	</p>
                                <p>Repilies</p>
                            </div>	
                            <div class="disF">
                                <p>Toyota, Camry, 2010</p>
                                <a> Viwe Details</a>
                            </div>	
                        </div>
                        
                    </div>
                </div>
                <!-- single div end -->
                <!-- single div -->
                <div class="columnDivSingle">	
                    <div class="disF bordB">
                        <h4>Quote Request</h4>
                        <p>2440</p>
                    </div>					
                    <div class="disF">
                        <h4>Sort by</h4>
                        <select class="commonInput">
                            <option> Latest</option>
                            <option> State</option>
                            <option> State</option>
                        </select>
                    </div>
                    <div class="requestDiv">
                        <div class="bordB">
                            <h5 class="greenText">Order</h5>
                            <div class="disF">
                                <p>Plaza Crash Repairs	</p>
                                <p>Total: $1500.00</p>
                            </div>	
                            <div class="disF">
                                <p>Toyota, Camry, 2010</p>
                                <a> Viwe Details</a>
                            </div>	
                        </div>
                        <div class="bordB">
                            <h5 class="greenText">Order</h5>
                            <div class="disF">
                                <p>Plaza Crash Repairs	</p>
                                <p>Total: $1500.00</p>
                            </div>	
                            <div class="disF">
                                <p>Toyota, Camry, 2010</p>
                                <a> Viwe Details</a>
                            </div>	
                        </div>
                        <div class="bordB">
                            <h5 class="greenText">Order</h5>
                            <div class="disF">
                                <p>CMI TOYOTA</p>
                                <p>Parts 3</p>
                            </div>	
                            <div class="disF">
                                <p>CMI TOYOTA</p>
                                <a> Viwe Details</a>
                            </div>	
                        </div>
                    </div>
                </div>
                <!-- single div end -->
            </div>
        </div>
    </div>
    <!-- admin page end -->
</div>
<!-- main Page end-->
<div class="popupDiv" *ngIf="success">
    <div class="popInner">
        <div class="poHeader">
            <h4 class="popHead">More Details</h4>
            <p> Order no. 34333</p>
            <p class="closeIcon">X</p>
        </div>
        <div class="popBody">
            <div class="width50 poptext">
                <h4 class="">ID: M5454</h4>
                <h5>Plaza Crash Repairs</h5>
                <p>4 Jacobsen Cres, </p>
                <p>Holden Hill, SA, 5009</p>
            </div>
            <div class="width50 poptext">
                <h4 class="">Vehilce Info</h4>
                <h5>Toyota Camry 2007</h5>
                <p>2D / Auto / 2WD / 4 Cylinder </p>
                <p>VIN: JTFD45GG67782902</p>
            </div>
            <div class="clearfix"></div>
            <div class="text-center">
                <button class="btn commonBtnBlue btn-block btnCs"> ORDERS FROM</button>
            </div>
            <div class="disF plazaDiv">
                <h5>PLAZA CRASH REPARIS	</h5><h5 class="text-right"> $5606.00</h5>
            </div>
            <div class="disF oraderDiv">
                <h5>ORDER DETAIL</h5><h5 class="text-right">Total: $5454.00</h5>
            </div>
            <div class="tableDIv">
                 <table class="table table-bordered">
                    <thead>
                      <tr class="blueBg">
                        <th>Part Name</th>
                        <th class="text-center">Results</th>
                        <th class="text-center"><img src="assets/images/exlamentry.png" class="exleIcon"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="grayBg">
                        <td>
                            <select>
                                <option>R/H Door Window</option>
                                <option>sad</option>
                                <option>asdas</option>
                            </select>
                        </td>
                        <td class="text-center">4</td>
                        <td class="text-center"></td>
                      </tr>
                      <tr class="lightBlueBg">
                        <td><span class="blackroundN"></span>Paradise Auto Parts</td>
                        <td class="text-center">$456</td>
                        <td class="text-center"><img src="assets/images/check.png" class=""></td>
                      </tr>
                      <tr class="evenBg">
                        <td><span class="greenRoundN"></span>Costless Autos</td>
                        <td class="text-center">$430</td>
                        <td class="text-center"></td>
                      </tr>
                      <tr class="oddBg"> 
                        <td><span class="orangeRoundN"></span>Paradise Auto Parts</td>
                        <td class="text-center">$430</td>
                        <td class="text-center"></td>
                      </tr>
                      <tr class="evenBg">
                        <td><span class="redRoundN"></span>Costless Autos</td>
                        <td class="text-center">$430</td>
                        <td class="text-center"></td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <button class="btn commonBlueBtn lightBlueBtn"> Close</button>
            </div>
        </div>
    </div>
</div>