<div class="sideBox">
  <div class="imageDiv">
    <img [src]="userDetails.profile_logo" class="userIcon">
  </div>
  <div class="sideBoxText">
    <h4>{{userDetails.business_name}}</h4>
    <p>Account type :Admin</p>
    <p>Location : {{userDetails.state_name}}</p>
    <p>change Password</p>
  </div>
  <a routerLink="/admin-setting">Edit</a>
  <a (click)="logout()" routerLink="/login">Logout</a>
  <p class="roundBlue"><span class=""></span>Notifications</p>
</div>
<div class="notificationsDiv">
  <button class="btn commonBtnBlue btn-block text-left"><img src="assets/images/message.png" class="commonNotiIcon">2 Unread Messages</button>
  <p class="redRound">David Wilson - Recal on a part</p>
  <p class="redRound">David Wilson - Recal on a part</p>
  <button class="btn commonBtnBlue btn-block text-left"><img src="assets/images/unpaidInvoice.png" class="commonNotiIcon">2 Overdue Unpaid Invoice</button>
  <p class="greenRound">David Wilson - Recal on a part</p>
  <p class="greenRound">David Wilson - Recal on a part</p>
  <button class="btn commonBtnBlue btn-block text-left"><img src="assets/images/feedback.png" class="commonNotiIcon">2 Unread Feedback</button>
  <p class="greenRound">David Wilson - Recal on a part</p>
  <p class="greenRound">David Wilson - Recal on a part</p>
</div>