<div class="wrapper">
   <app-user-nav></app-user-nav>
       <div class="commonBgDiv"><img src="assets/images/banner.jpg" alt="" /></div>
         <div class="banner-wrap">
      <div class="banner" style="background-image:url(assets/images/banner.jpg);">
         <div class="banner-in">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <div class="wrap-box listing ordr">
                        <div class="boxs lister onsc supplier_main_content max720">
                           <div class="boxs-in">
                              <h3 class="blueNewHead">Dashboard</h3>
                              <div class="nt"><a href="javascript:;" class="notification"><span class="notify">2</span>Notifications</a></div>
                              <div class="frm">
                                 <div class="col-md-8 col-sm-8 tabld pad-lft">
                                    <div class="dvr">
                                       <div class="dvr-in">
                                          <img [src]="userDetails.profile_logo" alt="">
                                       </div>
                                    </div>
                                    <span class="bl-titl">{{userDetails.business_name}}</span>
                                    <ul class="mmy">
                                     <li>Address: {{userDetails.business_address}}</li>
                                     <li>{{userDetails.state_name}}</li>
                                     <li>Phone: {{userDetails.business_contact}}</li>
                                    <!--  <li>Fax: 08 7655 8792</li> -->
                                     <li>Email: {{userDetails.email_id}}</li>
                                   <!--   <li>Website: www.autoteam.com</li> -->
                                  </ul>
                                    <!-- <ul class="mmy">
                                       <li>Address: 16 baulderstone Road</li>
                                       <li>Gepps, Cross, SA, 5000</li>
                                       <li>Phone: 08 7655 8792</li>
                                       <li>Fax: 08 7655 8792</li>
                                       <li>Email: info@domain.com</li>
                                       <li>Website: www.autoteam.com</li>
                                    </ul> -->
                                 </div>
                                 <div class="col-md-4 col-sm-4 text-right pad-rgh pad-top">									
                                    <a routerLink="/customer-edit"  class="btn-def mrgb">Edit Profile</a>	
                                    <a href="javascript:;" class="btn-def-blu mrgb">View Reports</a>									
                                    <a href="javascript:;" class="btn-def-blu mrgb">Orders</a>									
                                    <a href="javascript:;" class="btn-def-blu mrgb">Accounts</a>									
                                 </div>
                                 <div class="clearfix"></div>
                                 <div class="recent_active">
                                    <h3>Recent Activities <span class="pull-right">500/33</span></h3>
                                 </div>
                                 <div class="tbdat table_vieww">
                                    <div class="tbdat-in">
                                       <table style="width:100%">
                                          <tr>
                                             <td>W03030</td>
                                             <td>Plaza Crash Repairs </td>
                                             <td></td>
                                             <td></td>
                                             <td><span class="notify2 text-right">4</span></td>
                                             <td class="text-center green_complete">Completed</td>
                                             <td><a href="javascript:;" data-toggle="modal" data-target=".view_supplier" class="btn-def min80">View</a></td>
                                          </tr>
                                          <tr>
                                             <td>W03030</td>
                                             <td>Plaza Crash Repairs </td>
                                             <td></td>
                                             <td></td>
                                             <td><span class="notify2 text-right">4</span></td>
                                             <td class="text-center red_complete">Quoted</td>
                                             <td><a href="javascript:;" data-toggle="modal" data-target=".view_supplier" class="btn-def	min80">View</a></td>
                                          </tr>
                                          <tr>
                                             <td>W03030</td>
                                             <td>Plaza Crash Repairs </td>
                                             <td></td>
                                             <td></td>
                                             <td><span class="notify2 text-right">4</span></td>
                                             <td class="text-center green_complete">Ordered</td>
                                             <td><a href="javascript:;" data-toggle="modal" data-target=".view_supplier" class="btn-def	min80">View</a></td>
                                          </tr>
                                          <tr>
                                             <td>W03030</td>
                                             <td>Plaza Crash Repairs </td>
                                             <td></td>
                                             <td></td>
                                             <td><span class="notify2 text-right">4</span></td>
                                             <td class="text-center request_complete">Request</td>
                                             <td><a href="javascript:;" data-toggle="modal" data-target=".view_supplier" class="btn-def	min80">View</a></td>
                                          </tr>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="overlay"></div>
   <!-- <div class="popup srchres order_table m_order_result">
      <div class="boxs">
         <div class="boxs-in">
            <a href="javascript:;" class="close-btn"><img src="assets/images/cross.png" alt=""></a>
            <h3>Search Result <small style="display: block;">Order no. 34333</small></h3>
            <div class="tab-pop">
               <div class="imgw">
                  <img src="assets/images/carp.png" alt="" />
               </div>
               <span class="bll-titl">Toyota Camry 2007</span>
               <span class="bl-par">2D / Auto / 2WD / 4 Cylinder
               VIN: JTFD45GG67782902</span>
               <note><small>Note: All Price quote is cost price to you.</small></note>
               <div class="clearfix"></div>
               <ul class="list-inline">
                  <li><span><img src="assets/images/genuine.png" alt="genuine"></span> Genuine</li>
                  <li><span><img src="assets/images/used.png" alt="used"></span> Used</li>
                  <li><span><img src="assets/images/after-marker.png" alt="aftermarker"></span> Aftermarker</li>
                  <li><span><img src="assets/images/re-con.png" alt="Re-con"></span> Re-con</li>
               </ul>
            </div>
            <div class="cheapest_button">
               <a href="javascript:;" class="btn-def-blu cheapestt_btn">Cheapest</a>
               <div class="prt">
                  <span class="prt_span">Selected Total : $5550.00</span>
               </div>
            </div>
            <div class="tablpop partt">
               <table style="width:100%;box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.32941176470588235);" >
                  <tr>
                     <td>Part Name</td>
                     <td>Results</td>
                     <td><img style="vertical-align: bottom;" src="assets/images/warning.png" alt="warning"></td>
                     <td>Action</td>
                  </tr>
                  <tr>
                     <td>R/H Door Window <a id="show_hide" href="javascript:void(0);" class="pull-right"><img src="assets/images/caret.png" alt="caret"></a></td>
                     <td>4</td>
                     <td></td>
                     <td style="text-decoration: underline;">Repost</td>
                  </tr>
                  <tr class="hide_show">
                     <td style="background-color:#cfebfc;"><img src="assets/images/genuine.png" style="left: -5px;" alt="genuine"> Paradise Auto Parts</td>
                     <td style="background-color:#cfebfc;">$430</td>
                     <td style="background-color:#cfebfc;"><img src="assets/images/warning_report.png" alt="warning_report"></td>
                     <td style="background-color:#cfebfc;"><img src="assets/images/check_green.png" alt="" /></td>
                  </tr>
                  <tr class="hide_show">
                     <td><img src="assets/images/used.png" style="left: -5px;" alt="Used"> Costless Autos</td>
                     <td>$430</td>
                     <td></td>
                     <td><img src="assets/images/basket.png" alt="" /></td>
                  </tr>
                  <tr class="hide_show">
                     <td><img src="assets/images/after-marker.png" style="left: -5px;" alt="After Marker"> Paradise Auto Parts</td>
                     <td>$430</td>
                     <td></td>
                     <td><img src="assets/images/basket.png" alt="" /></td>
                  </tr>
                  <tr class="hide_show">
                     <td><img src="assets/images/re-con.png" style="left: -5px;" alt="Re-con"> Costless Autos</td>
                     <td>$430</td>
                     <td></td>
                     <td><img src="assets/images/basket.png" alt="" /></td>
                  </tr>
               </table>
               <div class="order_submit">
                  <div><a href="javascript:;" class="close-btn btn-def">Close</a></div>
                  <div>	<a href="javascript:;" class="btn-def-blu" style="    margin: 20px 15px;">Order Now</a></div>
               </div>
            </div>
         </div>
      </div>
   </div> -->
   <!--==supplier-details start==-->
   <div class="modal fade view_supplier" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-md view_supply_detail" role="document">
         <div class="modal-content">
            <div class="modal-body">
               <div class="tab-pop">
                  <p class="memberId">From: <span class="pull-right">Member ID</span></p>
                  <div class="address">
                     <address>
                        <p>JV Crash Repairs</p>
                        <p>55 John Smith Drive,</p>
                        <p>Longsubrub, 5000</p>
                     </address>
                     <p class="id_n">B34333</p>
                  </div>
                  <div class="rating two">
                      <ul class="list-inline text-left">
                           <li><img src="assets/images/star_rated.png" alt="star_rated"></li>
                           <li><img src="assets/images/star_rated.png" alt="star_rated"></li>
                           <li><img src="assets/images/star_rated.png" alt="star_rated"></li>
                           <li><img src="assets/images/star.png" alt="star"></li>
                           <li class="numbers_outof">442/12</li>
                       </ul>
                  </div> 
   
                  <div class="imgw">
                     <img src="assets/images/carp.png" alt="" />
                  </div>
                  <span class="bll-titl">Toyota Camry 2007</span>
                  <span class="bl-par">2D / Auto / 2WD / 4 Cylinder</span>
                  <span>VIN: JTFD45GG67782902</span>	
                  <div class="clearfix"></div>
                  <div class="tablpop partt supplier_table">
                     <table class="table_v" style="width:100%;">
                        <tbody>
                           <tr>
                              <td>Part Name</td>
                              <td>Note</td>
                              <td>Photo</td>
                           </tr>
                           <tr>
                              <td>R/H Door Window </td>
                              <td><img src="assets/images/warning_report.png" alt="warning"></td>
                              <td><img src="assets/images/check_green.png" alt="check_green"></td>
                           </tr>
                           <tr>
                              <td>R/H Door Window </td>
                              <td><img src="assets/images/warning_report_white.png" alt="warning"></td>
                              <td><img src="assets/images/check_green_white.png" alt="check_green"></td>
                           </tr>
                        </tbody>
                     </table>
                     <div class="order_submit">
                        <div><a href="javascript:;" class="close-btn btn-def">Close</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--==supplier-details end==-->
   
       <footer>
         <div class="container">
           <div class="row">
   
           </div>
         </div>
       </footer>
     </div>
 
 